@include exports("dropzone/layout") {

    // Dropzone
    .k-external-dropzone {
        margin: 8px 0;
        padding: 100px 0;

        border-width: 1px;
        border-style: solid;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        cursor: pointer;

        .k-dropzone-hint,
        .k-dropzone-hint-message {
            padding: $upload-dropzone-padding-y $upload-dropzone-padding-x;
            display: block;
        }

        .k-dropzone-hint {
            font-size: $icon-size;
        }

        .k-i-upload {
            padding: ($upload-dropzone-padding-y * 2) $upload-dropzone-padding-x;
            font-size: $icon-size*3;
        }
    }

}
