@include exports("dropzone/layout") {

    // Dropzone
    .k-external-dropzone {
        padding: $external-dropzone-padding-y $external-dropzone-padding-x;
        border-width: $upload-border-width;
        border-style: solid;
        background-clip: padding-box;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        position: relative;
        cursor: pointer;

        >.k-icon {
            padding: ($upload-dropzone-padding-y / 2) $upload-dropzone-padding-x ($upload-dropzone-padding-y * 2);
            font-size: $icon-size * 3;
        }

        .k-dropzone-hint,
        .k-dropzone-note {
            padding: ($upload-dropzone-padding-y / 2) $upload-dropzone-padding-x;
            display: block;
        }

        .k-dropzone-hint {
            font-size: $icon-size;
        }

        .k-dropzone-note {
            font-size: $font-size-sm;
        }

    }

}
