@include exports( "dropzone/theme" ) {
    //$outline-primary-button-text: $primary !default;

    // Dropzone
    .k-external-dropzone {
        @include fill(
            $upload-dropzone-text,
            $upload-dropzone-bg,
            $upload-dropzone-border
        );

        >.k-icon,
        .k-dropzone-hint-message {
            opacity: .6;
        }

        &:hover {
            .k-icon {
                color: $primary;
                opacity: 1;
            }
        }

    }

}
